<p id="notice"><%= notice %></p>

<p>
  <strong>Book:</strong>
  <%= @scripture.book %>
</p>

<p>
  <strong>Chapter:</strong>
  <%= @scripture.chapter %>
</p>

<p>
  <strong>Verse:</strong>
  <%= @scripture.verse %>
</p>

<%= link_to 'Edit', edit_scripture_path(@scripture) %> |
<%= link_to 'Back', scriptures_path %>
