<p id="notice"><%= notice %></p>

<div class="container">
  <h1><small><strong>Topic:</strong> <%= @topic.title %></small></h1>
  <ul class="nav nav-tabs">
    <li class="active"><a href="#home">Scriptures</a></li>
    <li><a href="#menu1">Prayer</a></li>
    <li><a href="#menu2">Readings</a></li>
    <li><a href="#menu3">Watch & Listen</a></li>
    <<< <%= link_to "Go Back", topics_path %>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3>SCRIPTURES</h3>
      <p><strong><%= @doc.css('.passage-display-bcv').text %> </strong>| <%= @doc.css('.passage-display-version').text %></p>
      <p><%= @text %></p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>PRAYERS</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>READINGS</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3>WATCH AND LISTEN</h3>
      <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
