<footer class="footer">
  <small>
    <%= Time.current.year %>
    <%= link_to 'REVEAL - Scriptures on Topics', root_path %>
    by Rawneed, Inc.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "FAQS",   '#' %></li>
      <li><%= link_to "Help", '#' %></li>
    </ul>
  </nav>
</footer>