<footer class="footer">
  <small>
    <%= Time.current.year %>
    <%= link_to 'REVEAL - Scriptures on Topics', root_path %>
    by Rawneed, Inc.
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "FAQS", faqs_path %></li>
      <li><%= link_to "Help", help_path %></li>
    </ul>
  </nav>
</footer>